<table class="table table-hover mt-3 border">
  <thead class="bg-light font-weight-bold">
    <tr>
      <td>Name</td>
      <td>Age</td>
    </tr>
  </thead>
  <tr class="" *ngFor="let character of characters" [ngClass]="{redText: showZoidberg}">
    <td>{{character.name}}</td>
    <td>{{character.age}}</td>
  </tr>
</table>
<h4 class="jumbotron">
	I made {{money | currency}} last year. It's all about the Washingtons, baby!
</h4>
<div>
  <button class="btn btn-danger float-right" (click)="woopWoopWoop()">Lobster Doctor</button>
</div>
<div class="text-center">
  <img class="img-fluid rounded" [src]="imageurl" alt="Why Not Zoidberg?" [hidden]="!showZoidberg" />
</div>
